.parameter-config{
  /* margin: 0.5em; */
  /* padding: .5em; */
  /* height: calc(100% - 1em); */
  /* background: #F5F8FA; */
  /* overflow-y: scroll; */
}


.chart-tab{
  width: 100%;
  /* height: 100px; */
  display: flex;
}